{% if postfix_relay_sender_dependent_relayhost_maps|length %}
# from postfix_relay_sender_dependent_relayhost_maps by {{ role_path|basename }}
{% for k, v in postfix_relay_sender_dependent_relayhost_maps.iteritems() %}
{% if not (k|regex_search('@\*\.')) %}
{{ k }} {{ v }}
{% endif %}
{% endfor %}
{% endif %}
{% if postfix_relay_maps|length %}
# from postfix_relay_maps by {{ role_path|basename }}
{% for item in postfix_relay_maps %}
{% if item.sender|default("") and item.relayhost|default("") %}
{% if not (item.sender|regex_search('@\*\.')) %}
{{ item.sender }} {{ item.relayhost }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
