{% if postfix_relay_smtp_sasl_password_maps|length %}
# from postfix_relay_smtp_sasl_password_maps by {{role_path|basename}}
{% for k, v in postfix_relay_smtp_sasl_password_maps.iteritems() %}
{{k}} {{v}}
{% endfor %}
{% endif %}
{% if postfix_relay_maps|length %}
# from postfix_relay_maps by {{role_path|basename}}
{% for item in postfix_relay_maps %}
{% if item.sender and item.password %}
{% if item.enable_password_conversion_for_ses %}
{{item.sender}} {{item.username}}:{{item.password|to_smtp_credentials}}
{% else %}
{{item.sender}} {{item.username}}:{{item.password}}
{% endif %}
{% elif item.relayhost and item.password %}
{% if item.enable_password_conversion_for_ses %}
{{item.relayhost}} {{item.username}}:{{item.password|to_smtp_credentials}}
{% else %}
{{item.relayhost}} {{item.username}}:{{item.password}}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
