{% if postfix_relay_smtp_sasl_password_maps|length %}
# from postfix_relay_smtp_sasl_password_maps by {{role_path|basename}}
{% for k, v in postfix_relay_smtp_sasl_password_maps.iteritems() %}
{{k}} {{v}}
{% endfor %}
{% endif %}
{% if postfix_relay_maps|length %}
# from postfix_relay_maps by {{role_path|basename}}
{% for item in postfix_relay_maps %}
{% set password = item.password|to_smtp_credentials if item.enable_password_conversion_for_ses|default(false) else item.password %}
{% if item.sender and item.password %}
{{item.sender}} {{item.username}}:{{password}}
{% elif item.relayhost and item.password %}
{{item.relayhost}} {{item.username}}:{{password}}
{% endif %}
{% endfor %}
{% endif %}
