{% if postfix_relay_smtp_sasl_password_maps|length %}
# from postfix_relay_smtp_sasl_password_maps by {{role_path|basename}}
{% for k, v in postfix_relay_smtp_sasl_password_maps.iteritems() %}
{{k}} {{v}}
{% endfor %}
{% endif %}
{% if postfix_relay_maps|length %}
# from postfix_relay_maps by {{role_path|basename}}
{% for item in postfix_relay_maps %}
{% if item.sender and item.password %}
{{item.sender}} {{item.password}}
{% endif %}
{% endfor %}
{% endif %}
