{% if postfix_relay_smtp_sasl_password_maps|length %}
# from postfix_relay_smtp_sasl_password_maps by {{ role_path|basename }}
{% for k, v in postfix_relay_smtp_sasl_password_maps.iteritems() %}
{% if k|regex_search('@\*\.') %}
/{{ k|regex_replace('@\*\.', '@')|regex_escape|regex_replace('@', '@([a-z0-9\.-]+\.)?') }}$/ {{ v }}
{% endif %}
{% endfor %}
{% endif %}
{% if postfix_relay_maps|length %}
# from postfix_relay_maps by {{ role_path|basename }}
{% for item in postfix_relay_maps %}
{% set password = item.password|to_smtp_credentials(**item) if item.enable_password_conversion_for_ses|default(false) else item.password %}
{% if item.sender and password %}
{% if item.sender|regex_search('@') %}
{% if item.sender|regex_search('@\*\.') or item.sender_matches_subdomains %}
/{{ item.sender|regex_replace('@\*\.', '@')|regex_escape|regex_replace('@', '@([a-z0-9\.-]+\.)?') }}$/ {{ item.username }}:{{ password }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
